<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
		 colors="true" >
	<testsuites>
		<testsuite name="Number">
			<directory>tests/AGmakonts/STL/Number</directory>

		</testsuite>
        <testsuite name="String">
            <directory>tests/AGmakonts/STL/String</directory>
        </testsuite>

	</testsuites>
</phpunit>
